footer(class="bg-black")
    div(class=wrap)
        span(class="alignleft")
            p= 'Al hacer uso del servicio se acepta el uso de cookies.'
        span(class="alignright")
            a(href="mailto:pol.gomez@servme.es")
                p= 'Pol.Gomez@servme.es'