footer(class="page-footer teal")
    div(class="container")
        div(class="row")
            div(class="col l6 s12")
                h5(class="white-text") Servme
                p(class="grey-text text-lighten-4") Este proyecto nace a manos de un estudiante, de ingieneria informática, con la finalidad de proporcionar a los usuarios una herramienta para solicitar cualquier tipo de servicio en una única plataforma.

            div(class="col l3 s12")
                h5(class="white-text") Enlaces
                ul
                    li
                        a(class="white-text" href="/acceder") Acceder
                    li
                        a(class="white-text" href="/registro") Registro
                    li
                        a(class="white-text" href="#!") Añadir servicio
                    li
                        a(class="white-text" href="#!") Buscar servicio

            div(class="col l3 s12")
                h5(class="white-text") Redes Sociales
                ul
                    li
                        a(class="white-text" href="#!") Twitter
                    li
                        a(class="white-text" href="#!") Facebook
                    li
                        a(class="white-text" href="#!") Github
                    li
                        a(class="white-text" href="#!") Email

    div(class="footer-copyright")
        div(class="container")
            div(class="row")
                div(class="input-field col s6")
                    p Estilo proporcionado por 
                        a(class="brown-text text-lighten-3" href="http://materializecss.com") Materialize
                div(class="input-field col s6")
                    p Creado por 
                        a(class="brown-text text-lighten-3" href="mailto:pol.gomez@servme.es") Pol Gómez
script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src="materialize/js/materialize.js")
script(src="materialize/js/init.js")
