title= tituloPagina
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(href="materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection")
link(href="materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection")
script(src='https://www.google.com/recaptcha/api.js')
meta(name="google-site-verification" content="pMXc7zmCbujfIqcdFR7vlxPjexpXaU6OoEtV4Xm55Zk")