//Logo es 76x76
header(role="banner" style="position:fixed;")
	nav(role="navigation")
		p(class="logo")
			a(href="/inicio" title="Servme")
		ul
			li(class="facebook")
				a(href="/acceder")
					p Acceder

			li(class="facebook")
				a(href="/registro")
					p Registro
