nav(class="white" role="navigation")
	div(class="nav-wrapper container")
		a(id="logo-container" href="/" class="brand-logo")
			img(src="/images/logoPrincipal.png" width="60" height="60")
		ul(class="right hide-on-med-and-down")
			li
				a(href="/acceder") Acceder
			li
				a(href="/registro") Registro
		
		ul(id="nav-mobile" class="sidenav")
			li(style="background-color: #26a69a;")
				a(href="#" class="center white-text" style="font-size:large;") Servme

			li
				a(href="/acceder") Acceder
					i(class="material-icons prefix") account_circle
			li
				a(href="/registro") Registro
					i(class="material-icons prefix") person_add

		a(href="#" data-target="nav-mobile" class="sidenav-trigger")
			i(class="material-icons") menu