doctype html
html
	head
		include ./head.pug

	body
		include ./header.pug
		div(class="container")
			div(class="row")
				div(class="col l12 s12")
					div(class="center")
						p Contenido principal aquí.
						p Github: polete444/servme2
		include ./footer.pug