doctype html
html
	head
		include ./head.pug

	body
		include ./header.pug

		article(class="webslides")
			section(class="bg-white aligncenter slide current")
				p Contenido principal aquí.
				p Github: polete444/servme2
			include ./footer.pug