doctype html
html
	head
		include ./head.pug

	body
		include ./header.pug

		article(class="webslides")
			section(class="bg-white aligncenter slide current")
				p Logo del menu (Hecho).
				p Diseñar login y registro (Hecho).
				p Añadir login mediante passportjs.
				p Registrar usuario correctamente.
				p Logear usuario correctamente.
				p Revisar diseño de imagenes login y registro.
				p Cambiar del menú acceder y registro por nombre del usuario, foto y boton de salir.
				p Pagina de perfil.
				p Añadir Servicio.
				p Revisar todos los puntos anteriores y accesos.
				p Contenido principal.
				p Pedir un servicio.
				p Mirar datos necesarios para cada usuario.